---
import Headline from '../ui/Headline.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Carousel from 'astro-carousel';

const {
  title = await Astro.slots.render("title"),
  subtitle = await Astro.slots.render("subtitle"),
  tagline = await Astro.slots.render("tagline"),
  //columns = 2,

  images = [
  "https://a.storyblok.com/f/95455/1350x1080/3ef7748922/p5240368.jpg",
  "https://a.storyblok.com/f/95455/1350x1080/231d2407ea/p4030184.jpg",
  "https://a.storyblok.com/f/95455/1350x1080/4aee2a00f4/p5240221.jpg",
  ],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render("bg"),
} = Astro.props as ImgCarousel;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-5xl ${classes?.container ?? ""}`}
  bg={bg}
>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={classes?.headline}
  />

  <div>
    <ul class="grid justify-center align-middle gap-8 m-0 p-0" id="carouselTargetList">
      {
        images.map((img, i) => {
          return (
            <li>
              <a
                href={`./?image=${i}`}
                data-carousel-index={i}
                class="block"
              >
                <img src={img} alt="" class="w-full"/>
              </a>
            </li>
          );
        })
      }
    </ul>
    <Carousel>
      <ul id="slides" class="carousel__slides">
        {
          images.map((img: any) => (
            <li class:list={["carousel__slide"]}>
              <img src={img} alt="" class="w-full"/>
            </li>
          ))
        }
      </ul>
    </Carousel>
  </div>

</WidgetWrapper>